<div class="head">
  <div class="inner">
    <div class="head_brand">
      {% if site.logo %}
        <a class="head_logo" href="/"><img src="{{ site.logo.src|thumbnail('s') }}"></a>
      {% endif %}
      <strong><a href="/">{{ site.name }}</a></strong>
    </div>
    <div class="head_links">
      <nav>
        {% for nav in site.primary_links -%}
          <a href="{{ nav.url }}" {% if nav.blank %} target="_blank"{% endif %}>{{ nav.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
</div>
