{% block style %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}akasaka.css">
{% endblock %}

{% block body %}
  {% if not features.head_html %}
    {% include "./_partials/head.j2" %}
  {% endif %}

  <div class="search">
    {% if site.cover %}
      <div class="js-cover" data-src="{{ site.cover.src|thumbnail('l') }}">
        <div class="cover-mask"></div>
      </div>
    {% endif %}
    <div class="inner">
      <input class="js-search" type="text" placeholder="Search..."
        {% if features.algolia %}data-id="{{ site.algolia_id }}" data-key="{{ site.algolia_key }}"{% endif %}>
    </div>
  </div>

  {% set tags = query.tags() %}
  {% if tags %}
    <div class="cover-tags">
      <div class="inner">
        <div class="section-title">Browser by collections</div>
        <div class="scrollable">
          {% for tag in tags %}
            <div class="cover-tag">
              <a href="{{ linkify(tag.url) }}"{% if tag.cover %} class="js-cover" data-src="{{ tag.cover.src|thumbnail }}"{% endif %}>
                <span>{{ tag.title }}</span>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="posts">
    <div class="inner">
      <div class="section-title">Recent updates</div>
      <div class="updates">
        {% for post in query.latest_subjects('post') %}
          <div class="post" lang="{{ post.lang }}">
            <h3><a href="{{ linkify(post.url) }}">{{ post.title }}</a></h3>
            <time datetime="{{ post.published_at|xmldatetime }}">{{ post.published_at.strftime('%b %d, %Y') }}</time>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include "_snippets/brand_foot.j2" %}
{% endblock %}
