{% from "macros.j2" import render_subject_content %}

{% block style %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}assets/item.css">
{% endblock %}

{% block body %}
  {% if not features.head_html %}
    {% include "./_head.j2" %}
  {% endif %}

  <div class="main">
    <article role="main" class="h-entry" itemscope itemtype="http://schema.org/Article">
      {% if page.tags %}
        <div class="breadcrumbs">
          {% for tag in page.tags %}
            <a class="p-category" href="{{ linkify(tag.url) }}">{{ tag.title }}</a>
            <span class="sep">/</span>
          {% endfor %}
          <span>{{ page.title }}</span>
        </div>
      {% endif %}
      <h1 class="p-name" itemprop="headline">{{ page.title }}</h1>
      <div class="e-content js-content yue" itemprop="articleBody">
        {{ render_subject_content(site, page) }}
      </div>
      <div class="entry-meta"
        {% if page.published_at %}
          <time class="dt-published" datetime="{{ page.published_at|xmldatetime }}"
                itemprop="datePublished">{{ page.published_at.strftime('%b %d, %Y') }}</time>
        {% endif %}
      </div>
      {% if page.type == 'post' %}
        <div class="entry-enjoy">
          <button class="enjoy js-enjoy">Enjoy</button>
        </div>
        {% set items = query.related_subjects(page, 2) %}
        {% if items %}
          <section class="entry-section">
            <div class="section-title">Read more</div>
            {% for post in items %}
            <div class="item">
              <h2><a href="{{ linkify(post.url) }}">{{ post.title }}</a></h2>
              {% if post.subtitle %}
                <h3><a href="{{ linkify(post.url) }}">{{ post.subtitle }}</a></h3>
              {% endif %}
            </div>
            {% endfor %}
          </section>
        {% endif %}
      {% endif %}
    </article>
  </div>

  {% include "_snippets/brand_foot.j2" %}
{% endblock %}
