.main {
  max-width: 860px;
  margin: 48px auto;
  padding: 0 15px;
}

.breadcrumbs {
  font-size: 14px;
  color:var(--c-text-light);
}
.breadcrumbs a {
  color:var(--c-text-light);
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs .sep {
  color:var(--c-text-mute);
  margin: 0 4px;
}

.h-entry {
  font-size: 18px;
}

.entry-meta {
  margin: 26px 0;
  font-size: 14px;
  color: var(--c-text-mute);
}

.entry-section {
  margin: 48px 0;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--c-text-mute);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.item {
  padding: 24px 0;
}
.item + .item {
  border-top: 1px solid var(--c-divider);
}
.item a {
  text-decoration: none;
  color: inherit;
}
.item a:hover {
  opacity: 0.8;
}
.item h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 8px;
}
.item h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--c-text-light);
}
