.list-head {
  position: relative;
  padding: 80px 0 60px;
  text-align: center;
}
.list-head:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./bg.svg') repeat center;
  opacity: 0.4;
  z-index: -1;
}
.list-head .inner {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 15px;
}
.list-head h1 {
  font-size: 30px;
  letter-spacing: -0.5px;
}
.list-head .summary {
  max-width: 420px;
  margin: 0 auto;
  font-size: 18px;
  color: var(--c-text-light);
}
.tags {
  text-align: center;
  margin-top: 32px;
}
.tags a {
  display: inline-block;
  margin: 4px 8px;
  padding: 6px 15px;
  border: 1px solid var(--c-divider);
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  border-radius: 15px;
  text-decoration: none;
  color:var(--c-text);
}
.tags a:hover {
  color:var(--c-text-strong);
}

.items {
  padding: 16px;
}

.items .inner {
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 48px;
}
